#normalCheckBox, #stickerSignaturesCheckBox #stickerTeamLogosCheckBox {
    margin-top: 18px !important;
    margin-left: -35px !important;
    margin-right: 5px !important;
}

#stickerRarityStandardRadio, #stickerRarityHoloRadio, #stickerRarityFoilRadio, #stickerRarityGoldRadio,
#sprayRarityCommonRadio, #sprayRarityRareRadio, #sprayRarityMythicalRadio, #sprayRarityLegendaryRadio {
    padding: 0;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    margin-left: 6px !important;
    margin-right: 6px !important;
    display: inline-block;
}

#sprayRarityCommonRadio {
    accent-color: #b0c3d9;
}

#stickerRarityStandardRadio, #sprayRarityRareRadio {
    accent-color: #4b69ff;
}

#stickerRarityHoloRadio, #sprayRarityMythicalRadio {
    accent-color: #8847ff;
}

#stickerRarityFoilRadio, #sprayRarityLegendaryRadio {
    accent-color: #d32ee6;
}

#stickerRarityGoldRadio {
    accent-color: #eb4b4b;
}

#weaponLabel, #diffuseWeaponLabel, #normalWeaponLabel,
#stickerLabel, #rarityStickerLabel, #diffuseStickerLabel, #diffuseStickerExponentLabel, #signaturesStickerLabel, #teamLogosStickerLabel,
#sprayLabel, #raritySprayLabel, #diffuseSprayLabel {
    padding: 0;
    margin-top: 14px !important;
    margin-bottom: 6px !important;
    margin-left: 6px !important;
    display: inline-block;
}

#diffuseStickerHoloLabel, #diffuseStickerFoilLabel, #diffuseStickerGoldLabel {
    padding: 0;
    margin-top: 14px !important;
    margin-bottom: 6px !important;
    margin-left: 6px !important;
    display: none;
}

#stickerRarityStandardRadioText, #stickerRarityHoloRadioText, #stickerRarityFoilRadioText, #stickerRarityGoldRadioText,
#sprayRarityCommonRadioText, #sprayRarityRareRadioText, #sprayRarityMythicalRadioText, #sprayRarityLegendaryRadioText {
    padding: 0;
    margin-right: 14px !important;
    display: inline-block;
}

#sprayRarityCommonRadioText {
    color: #b0c3d9;
}

#stickerRarityStandardRadioText, #sprayRarityRareRadioText {
    color: #4b69ff;
}

#stickerRarityHoloRadioText, #sprayRarityMythicalRadioText {
    color: #8847ff;
}

#stickerRarityFoilRadioText, #sprayRarityLegendaryRadioText {
    color: #d32ee6;
}

#stickerRarityGoldRadioText {
    color: #eb4b4b;
}

#inputDiv,
#inputDivStickerDiffuseStandard, #inputDivStickerDiffuseExponent, #inputDivStickerDiffuseHolo, #inputDivStickerDiffuseFoil, #inputDivStickerDiffuseGold,
#inputDivSprayDiffuse {
    margin-left: 10px;
    margin-right: 10px;
}

#diffuseFileInput, #normalFileInput,
#diffuseStickerFileInput, #diffuseStickerExponentFileInput,
#diffuseSprayFileInput {
    display: inline-block;
}

#diffuseStickerHoloFileInput, #diffuseStickerFoilFileInput, #diffuseStickerGoldFileInput {
    display: none;
}

#hyperlinkButton {
    margin-right: 5px;
}

p {
    margin-bottom: 0 !important;
}

#scriptTextBox {
    margin-top: 8px;
}

#moreTabDiv {
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
}

#buttonDiv {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

#weaponSkin, #currentGloves, #newGloves {
    font-size: 0.9rem;
}

textarea {
    font-size: 0.95rem !important;
}

button {
    margin-top: 12px;
}

body {
    font-size: 0.9rem !important;
}

input {
    font-size: 0.9rem !important;
    padding: 4px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

button {
    font-size: 0.9rem !important;
}

option {
    font-size: 0.9rem !important;
}

ul {
    margin-top: 20px !important;
    padding-left: 25px !important;
}


.form-select {
    font-size: 0.9rem !important;
}